@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,500,600,700);

$titleFont: "Century Gothic";
$navigationFont: status-bar;
$homePageFont: "Open Sans";